<h1>Your Rentals</h1>
<% if @bookings.any? %>
  <table>
    <thead>
      <tr>
        <th>Console</th>
        <th>Start date</th>
        <th>End date</th>
      </tr>
    </thead>
    <tbody>
      <% @bookings.each do |booking| %>
        <tr>
          <td><%= booking.console.brand %></td>
          <td><%= booking.console.name %></td>
          <td><%= booking.console.price %></td>
          <td><%= booking.date_begin %></td>
          <td><%= booking.date_end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no location at the moment.</p>
<% end %>
