<div class="container">
  <h1>DASHBOARD</h1>

  <div class="d-flex justify-content-around">
    <button class="btn btn-light btn-outline-dark rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#console" aria-expanded="false" aria-controls="console">
        My consoles
      </button>
      <button class="btn btn-light btn-outline-dark rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#bookings" aria-expanded="false" aria-controls="bookings">
        My bookings
      </button>
      <button class="btn btn-light btn-outline-dark rounded-4"  type="button" data-bs-toggle="collapse" data-bs-target="#request" aria-expanded="false" aria-controls="request">
        My requests
      </button>
  </div>

  <div class="mt-5">
    <div class="collapse" id="console">
      <div class="card card-body bg-white rounded-4">
       <h1>Your consoles</h1>
        <% if @consoles.any? %>
          <table>
            <thead>
              <tr>
                <th>Brand</th>
                <th>Consoles</th>
                <th>Price</th>
                <th>Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            <%= link_to "New console", new_console_path, class:"btn btn-light btn-outline-dark rounded-4", type:"button" %>
              <% @consoles.each do |console| %>
                <tr>
                  <td><%= console.brand %></td>
                  <td><%= console.name %></td>
                  <td><%= console.price%>€</td>
                  <td><%= console.created_at.to_date.strftime('%Y-%m-%d')  %></td>
                  <td><%= link_to 'Edit consol', edit_console_path(console[:id]), class:"btn btn-light btn-outline-dark rounded-4", type:"button" %>
                  <%= link_to "Delete", console_path(console),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-light btn-outline-dark rounded-4", type:"button" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You don't have any ads yet.</p>
        <% end %>
      </div>
    </div>
  </div>


  <div class="mt-5">

    <div class="collapse" id="bookings">
      <div class="card card-body bg-white rounded-4">
        <h1>Your rentals</h1>
        <% if @bookings.any? %>
          <table>
            <thead>
              <tr>
                <th>Brand</th>
                <th>Consoles</th>
                <th>Price</th>
                <th>Start date</th>
                <th>End date</th>
              </tr>
            </thead>
            <tbody>
              <% @bookings.each do |booking| %>
                <tr>
                  <td><%= booking.console.brand %></td>
                  <td><%= booking.console.name %></td>
                  <td><%= booking.console.price %></td>
                  <td><%= booking.date_begin.to_date.strftime('%Y-%m-%d') %></td>
                  <td><%= booking.date_end.to_date.strftime('%Y-%m-%d') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>You have no location at the moment.</p>
        <% end %>
      </div>
    </div>
  </div>


  <div class="mt-5">

    <div class="collapse" id="request">
      <div class="card card-body bg-white rounded-4">
     <h1>Reservation request</h1>
      <% if @request_bookings.any? %>
        <table>
          <thead>
            <tr>
              <th>Brand</th>
              <th>Consoles</th>
              <th>Price</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @request_bookings.each do |booking| %>
              <tr>
                <td><%= booking.console_brand %></td>
                <td><%= booking.console_name %></td>
                <td><%= booking.console_price %></td>
                <td><%= booking.date_begin.to_date.strftime('%Y-%m-%d') %></td>
                <td><%= booking.date_end.to_date.strftime('%Y-%m-%d') %></td>

                <td>
                  <%# <%= button_to "To validate", validate_booking_path(booking), method: :post, class: "btn btn-success" %>
                  <%# <%= button_to "Refuse", refuse_booking_path(booking), method: :post, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>You have no reservation requests at the moment.</p>
      <% end %>
      </div>
    </div>
  </div>

</div>
