<div class="banner" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://lh5.googleusercontent.com/proxy/IAJG4jhqpuam8O7TTwbAs1T41SIePerM1e9p-losuvLsDcUPtgUKbX4EAOf_5foyqeq-5ekFHu3HcOj7E57ImsCCMJ2uJN-0cIjLwA=s0-d');">
  <div class="container">
    <h1><strong>Loconsole</strong> is the website to rent <strong>Games Consoles</strong>!</h1>
    <div class="">
    <p>Rent your games consoles around your home!</p>
    </div>
      <%# <a class="btn btn-ghost" href="http://127.0.0.1:3000/users/sign_in">Create your account</a> %>
  </div>
</div>


<div class="container">
  <div class="cards-console">
    <% @consoles.each do |console| %>
    <%= link_to(console_path(console)) do %>
      <% if console.photo.attached? %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(console.photo.key, height: 300, crop: :fill)%>')">
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('')">
      <% end %>
        <div class="card-trip-info">
          <div class="card-trip-info-left">
            <h2><%= console.name %></h2>
            <%# <img id="avatar-user" src="" alt="user"> %>
          </div>
          <div class="card-trip-info-right">
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>


</div>
